<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2"><br><br>
        <h3>Create a New Listing</h3>
        <form method="post" action="/listings">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" name="listing[title]" class="form-control" placeholder="Add a catchy title">
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" name="listing[description]" cols="20" rows="5"></textarea>
            </div>
            
            <div class="mb-3">
                <label for="image" class="form-label">Image Link</label>
                <input class="form-control" type="text" name="listing[image]" placeholder="Enter Image URL/Link">
            </div>

            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input class="form-control" type="number" name="listing[price]" min="0" placeholder="1200">
                </div>
    
                <div class="mb-3 col-md-8">
                    <label for="location" class="form-label">Location</label>
                    <input class="form-control" type="text" name="listing[location]" placeholder="Gujarat">
                </div>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country</label>
                <input class="form-control" type="text" name="listing[country]" placeholder="India">
            </div>

            <button class="btn btn-dark add-btn">Add</button><br><br>
        </form>
        </div>
    </div>
</body>